:root {
    --primary-font-color: #F8F9FA;
    --book-form-color: #F8F9FA;
    --book-card-fontColor: #212529;
    --book-card-hover-color: #F8F9FA;
    --button-bg-color: #F8F9FA;
    --items-bg-color: #212529;
    --items-border: 4px solid #212529;
    --items-shadow: 5px 5px #6C757D;
    --items-padding: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

input, label, select {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.title {
    color: var(--primary-font-color);
    background-color: var(--items-bg-color);
    padding: var(--items-padding);
    box-shadow: var(--items-shadow);
}

.p-text {
    margin-bottom: 30px;
}

.btn-addbook {
    font-weight: bold;
    width: 125px;
    padding: var(--items-padding);
    background-color: var(--button-bg-color);
    border-radius: 0px;
    box-shadow: var(--items-shadow);
    transition: 0.25s ease-in-out;
}

.btn-addbook:hover, .btn-cancel:hover, .btn-submit:hover {
    box-shadow: -5px -5px #6C757D;
    color: white;
    background-color: var(--items-bg-color);
    border-color: #212529;
    
}


.overlay {
    position: fixed;
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100vw;
}

.book-form {
    position: fixed;
    top: 25%;
    height: 350px;
    width: 350px;
    background-color: var(--book-form-color);
    border: var(--items-border);
    box-shadow: var(--items-shadow);
    font-weight: bold;
}

.flex-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    gap: 20px
    
}

.b-text {
    align-self: flex-start;
    padding-left: 30px;
    font-size: 30px;
    
}

label {
    display: inline-block;
    width: 100px;
}


input, #read {
    height: 30px;
    width: 185px;

    padding: 5px;
    border: 2px solid #212529;
   
}

.buttons {
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
    padding-right: 30px;
    gap: 20px;
}

.btn-cancel, .btn-submit {
    font-weight: bold;
    width: 100px;
    padding: 5px 10px;
    background-color: var(--button-bg-color);
    border-radius: 0px;
    box-shadow: var(--items-shadow);
    transition: 0.25s ease-in-out;
}

.flex-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    gap: 30px;
}

.card {
    color: var(--primary-font-color);
    background-color: var(--items-bg-color);
    box-shadow: var(--items-shadow);
    border: var(--items-border);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    width: 150px;
    height: 175px;
    transition: 0.25s ease-in-out;
}

.card:hover {
    box-shadow: -5px -5px #6C757D;
    color: var(--book-card-fontColor);
    background-color: var(--book-card-hover-color);
    border-color: #212529;
}

.card:hover .card-title {
    background-color: #212529; 
    color: var(--primary-font-color); 
}

.card-title,
.card-author, 
.card-pages {
    padding: 0px 5px;
}

.card-title {
    background-color: #6C757D;
    font-size: 17.5px;
    font-weight: bold;
    

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-author {
    margin-top: 5px;
    height: 42px;
}

.card-pages {
    margin-top: auto;
    font-weight: bold;
}

.card-status {
    color: var(--book-card-fontColor);
    background-color: var(--button-bg-color);
    border: 2px solid white;
    padding: 0px 4px;
    box-shadow: 2px 2px #6C757D;

    padding: 5;
    margin-top: 10px;
    margin-left: 2.5px;
    transition: 0.25s ease-in-out;
}

.card:hover .card-status {
    border: 2px solid #212529;
    box-shadow: -2px -2px #6C757D;
    color: white;
    background-color: var(--items-bg-color);
}

.card-status:focus {
    outline: none;
}

.remove-btn {
    align-self: flex-end;
    font-size: 17.5px;
    color: var(--book-card-fontColor);
    background-color: var(--button-bg-color);
    border: 2px solid white;
    padding: 0px 4px;
    
    box-shadow: 2px 2px #6C757D;
    transition: 0.25s ease-in-out;
}

.card:hover .remove-btn {
    border: 2px solid #212529;
    box-shadow: -2px -2px #6C757D;
    color: white;
    background-color: var(--items-bg-color);
}

.card:hover .remove-btn:hover {
    color: var(--book-card-fontColor);
    background-color: var(--button-bg-color);
    box-shadow: 2px 2px #6C757D;
    border: 2px solid #212529;
}